#footer-wrap {
  background: transparent;
}

@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}

/* 导航栏透明 */
#page-header.nav-fixed #nav {
  background: rgba(255,255,255,-0.7);
  color: #fff;
}

/* 导航栏字体变为白色 */
#page-header.nav-fixed #nav a, #page-header.nav-fixed #nav #site-name, #page-header.nav-fixed #nav #toggle-menu {
  color: #fff;
  font-size: 20px;
}

/* 图标大小改变 */
a > .iconfont {
  font-size: 20px;
}


/* 导航栏居中 */
/* #nav .menus_items {
  position: absolute;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  top: 2px;
  font-size: 26px;
} */

/* #nav .menus_items .menus_item:hover .menus_item_child{
  display: flex;
} */

/* 这里的2是代表导航栏的第二个元素，即有子菜单的元素，可以按自己需求修改 */
/* .menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -103px;
} */

/* 标题字体大小 */
/* #nav #site-name {
  font-size: 24px;
} */

/* 导航栏右边 */
#menus {
  font-size: 24px;
  margin-top: -1px;
}

.fa-fw {
  font-size: 23px;
  /* padding-right: 15px; */
}
#search-button .site-page {
  margin-left: 20px;
}

#menus > #search-button {
  padding: 10px;
}


/* 文章页背景 */
.layout>div:first-child:not(.recent-posts) {
  /* 以下代表白色透明度为0.3 */
  background: rgba(255, 255, 255, 0.3);
}
/*黑色透明*/
[data-theme="dark"] 
#recent-posts>.recent-post-item {
  background: rgba(0, 0, 0, 0.3);
} 
[data-theme="dark"] div#swiper_container{
  background: rgba(0, 0, 0, 0.3);
} 

[data-theme="dark"] .topGroup .top-group-list-item {
  background: rgba(0, 0, 0, 0.3);
}

/* 首页侧栏卡片 */
[data-theme="dark"] 
.card-widget {
  background: rgba(0, 0, 0, 0.3) !important;
}

/* 文章页面正文背景 */
[data-theme="dark"] 
div#post {
  background: rgba(0, 0, 0, 0.3);
}

/* 分页页面 */
[data-theme="dark"] 
div#page {
  background: rgba(0, 0, 0, 0.3);
}

/* 归档页面 */
[data-theme="dark"] 
div#archive {
  background: rgba(0, 0, 0, 0.3);
}

/* 标签页面 */
[data-theme="dark"] 
div#tag {
  background: rgba(0, 0, 0, 0.3);
}

/* 分类页面 */
[data-theme="dark"] 
div#category {
  background: rgba(0, 0, 0, 0.3);
}
/* 首页文章卡片 */
#recent-posts>.recent-post-item {
  background: rgba(255, 255, 255, 0.7);
}

/* 首页侧栏卡片 */
.card-widget {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.7);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.7);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.7);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.7);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.7);
}

#footer {
  opacity: 0.5;
}

/* 页脚透明 */
#footer {
  background: transparent !important;
}

/* 页脚黑色透明玻璃效果移除 */
#footer::before {
  background: transparent !important;
}

/* 头图透明 */
#page-header {
  background: transparent !important;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent !important;
}

#page-header::before {
  background: transparent !important;
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #footer::before {
  background: transparent !important;
}

[data-theme="dark"] #page-header::before {
  background: transparent !important;
}



/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}


body {
  cursor: url(https://images.bellwen.cn/picture/project2.cur), auto;
}
a,
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: url(https://images.bellwen.cn/picture/project31.cur), auto !important;
}



/*星空背景*/
#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

[data-theme="dark"] 
#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(https://www.toopic.cn/public/uploads/small/1638860379965163886037984.jpg);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}


.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important
}

#footer {
  background: 0 0 !important
}

#footer::before {
  background: 0 0 !important
}

#page-header {
  background: 0 0 !important
}

#page-header.post-bg:before {
  background-color: transparent !important
}

#page-header::before {
  background: 0 0 !important
}

svg.icon {
  width: 1em; height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 修正魔改的卡片栏突出字体的问题！！！*/
.article-content-text {
  width: 230px;
}


/*哔哩哔哩视频适配*/
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* 评论提示 */
/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
  content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
  content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
  content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
  /* 先隐藏起来 */
  display: none;
  /* 绝对定位 */
  position: absolute;
  /* 向上移动60像素 */
  top: -60px;
  /* 文字强制不换行，防止left:50%导致的文字换行 */
  white-space: nowrap;
  /* 圆角 */
  border-radius: 10px;
  /* 距离左边50% */
  left: 50%;
  /* 然后再向左边挪动自身的一半，即可实现居中 */
  transform: translate(-50%);
  /* 填充 */
  padding: 14px 18px;
  background: #444;
  color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
  /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
  我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px);
}

/* 最近文章 */
#aside-content .aside-list > .aside-list-item .content > time {
  display: none;
}
#aside-content .aside-list > .aside-list-item .content > .title {
  -webkit-line-clamp: 3;
  font-weight: 700;
  padding: 2px 0;
}
#aside-content .aside-list > .aside-list-item {
  padding: 8px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  border-radius: 12px;
  transition: 0.3s;
  margin: 4px 0;
  cursor: pointer;
}
@media screen and (min-width: 1300px) {
  #aside-content .aside-list > .aside-list-item:hover {
    transform: scale(1.03);
  }
  #aside-content .aside-list > .aside-list-item:active {
    transform: scale(0.97);
  }
}
#aside-content .aside-list > .aside-list-item:hover .thumbnail > img {
  transform: scale(1);
}
#aside-content .aside-list > .aside-list-item:not(:last-child) {
  border-bottom: 0 dashed var(--anzhiyu-background) !important;
}
#aside-content .aside-list > .aside-list-item .thumbnail {
  border-radius: 8px;
  border: var(--style-border);
}
#aside-content .aside-list > .aside-list-item:hover {
  background: var(--anzhiyu-blue-main);
  color: var(--anzhiyu-white);
  transition: 0.3s;
  box-shadow: var(--anzhiyu-shadow-main);
}
#aside-content .aside-list > .aside-list-item:hover a {
  color: var(--anzhiyu-white) !important;
}
.card-widget.card-recent-post {
  padding: 0.4rem 0.6rem !important;
}


/* tags样式 */
#aside-content .card-tag-cloud a {
  color: var(--anzhiyu-fontcolor) !important;
  font-size: 1.05rem !important;
  border-radius: 8px;
  display: inline-block;
  margin-right: 4px;
}
#aside-content .card-tag-cloud a:hover {
  background: var(--anzhiyu-theme);
  color: var(--anzhiyu-white) !important;
  box-shadow: var(--anzhiyu-shadow-theme);
}
@media screen and (min-width: 1300px) {
  #aside-content .card-tag-cloud a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-tag-cloud a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-tag-cloud a sup {
  opacity: 0.4;
  margin-left: 2px;
}


/* 归档样式 */
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-count-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child {
  width: fit-content;
  margin-left: 4px;
}
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.1rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-date {
  font-size: 14px;
  opacity: 0.6;
}
li.card-archive-list-item {
  width: 100%;
  flex: 0 0 48%;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
  color: var(--anzhiyu-white);
  background-color: var(--anzhiyu-theme);
  box-shadow: var(--anzhiyu-shadow-theme);
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 1300px) {
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: var(--style-border);
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child {
  width: auto;
  flex: inherit;
}
#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}



/* 由于全屏会出bug，所以直接给他隐藏 */

.winbox {
  border-radius: 12px;
  overflow: hidden;
}

.wb-full {
  display: none;
}

.wb-min {
  background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
  background: #333 !important;
}

.bgbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
  width: 166px;
  margin: 10px;
  background-size: cover
}

.pimgbox,
.imgbox {
  border-radius: 10px;
  overflow: hidden;
}

.pimgbox {
  height: 240px;
}

.imgbox {
  height: 95px;
}

.box {
  height: 100px;
}

/* 老用户如果不再使用页面版可删除下面代码 */
/* #color {
  border: none;
  background: transparent;
  width: 166px;
  height: 110px;
  margin: 5px 10px;
  position: relative;
  cursor: pointer;
}

#color::before {
  position: absolute;
  color: rgb(255, 255, 255);
  left: 38px;
  top: 44px;
  content: '自定义颜色';
} */

@media screen and (max-width: 768px) {
  /* 背景 */
  .pimgbox,
  .imgbox,
  .box {
      height: 73px;
      width: 135px;
  }
  .pimgbox {
      height: 205px;
  }
  /* 老用户如果不再使用页面版可删除下面代码 */
  /* #color {
      width: 141px;
      height: 83px;
      margin: 7px;
  }
  #color::before {
      left: 33px;
      top: 33px;
  }     */

  /* 2.0新增内容 */    
  .wb-min {
      display: none;
  }
  #changeBgBox .wb-body::-webkit-scrollbar {
      display: none;
  }
}

/* 去除时钟背景 */
#aside-content.aside-content > .sticky_layout > .card-widget.card-clock > .card-glass > .card-background {
  background-color: unset ;
  box-shadow: unset ;
}

#home_top {
  margin: 1rem auto 0;
  padding: 0px 15px;
  max-width: 1285px;
  width: 100%;
}

.layout {
  max-width: 1300px;
}