#footer-wrap {
  background: transparent;
}

@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}


/* 文章页背景 */
.layout>div:first-child:not(.recent-posts) {
  /* 以下代表白色透明度为0.3 */
  background: rgba(255, 255, 255, 0.3);
}
/*黑色透明*/
[data-theme="dark"] 
#recent-posts>.recent-post-item {
  background: rgba(0, 0, 0, 0.3);
}

/* 首页侧栏卡片 */
[data-theme="dark"] 
.card-widget {
  background: rgba(0, 0, 0, 0.3) !important;
}

/* 文章页面正文背景 */
[data-theme="dark"] 
div#post {
  background: rgba(0, 0, 0, 0.3);
}

/* 分页页面 */
[data-theme="dark"] 
div#page {
  background: rgba(0, 0, 0, 0.3);
}

/* 归档页面 */
[data-theme="dark"] 
div#archive {
  background: rgba(0, 0, 0, 0.3);
}

/* 标签页面 */
[data-theme="dark"] 
div#tag {
  background: rgba(0, 0, 0, 0.3);
}

/* 分类页面 */
[data-theme="dark"] 
div#category {
  background: rgba(0, 0, 0, 0.3);
}
/* 首页文章卡片 */
#recent-posts>.recent-post-item {
  background: rgba(255, 255, 255, 0.7);
}

/* 首页侧栏卡片 */
.card-widget {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.7);
}

/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.7);
}

/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.7);
}

/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.7);
}

/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.7);
}

#footer {
  opacity: 0.5;
}

/* 页脚透明 */
#footer {
  background: transparent !important;
}

/* 页脚黑色透明玻璃效果移除 */
#footer::before {
  background: transparent !important;
}

/* 头图透明 */
#page-header {
  background: transparent !important;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent !important;
}

#page-header::before {
  background: transparent !important;
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #footer::before {
  background: transparent !important;
}

[data-theme="dark"] #page-header::before {
  background: transparent !important;
}



/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}



/* 鼠标样式 */
body {
  cursor: url(https://cdn.jsdelivr.net/gh/Bellwen/PicGoDemo/img/project2.cur),
    default;
}

a,
img {
  cursor: url(https://cdn.jsdelivr.net/gh/Bellwen/PicGoDemo/img/project3.cur),
    default;
}

/* 选择链接标签时的鼠标指针 */
a:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/Bellwen/PicGoDemo/img/project5.cur),
    auto;
}

/* 选中输入框时的鼠标指针 */
input:hover {
  cursor: url(https://cdn.jsdelivr.net/gh/Bellwen/PicGoDemo/img/project4.cur),
    auto;
}




/*星空背景*/
#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

[data-theme="dark"] 
  #web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(https://www.toopic.cn/public/uploads/small/1638860379965163886037984.jpg);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}


.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important
}

#footer {
  background: 0 0 !important
}

#footer::before {
  background: 0 0 !important
}

#page-header {
  background: 0 0 !important
}

#page-header.post-bg:before {
  background-color: transparent !important
}

#page-header::before {
  background: 0 0 !important
}

svg.icon {
  width: 1em; height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* 修正魔改的卡片栏突出字体的问题！！！*/
.article-content-text {
  width: 230px;
}

/*哔哩哔哩视频适配*/
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}
.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* 设置文字内容 :nth-child(1)的作用是选择第几个 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(1):before {
  content: '输入QQ号会自动获取昵称和头像🐧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(2):before {
  content: '收到回复将会发送到您的邮箱📧';
}

.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3):before {
  content: '可以通过昵称访问您的网站🔗';
}

/* 当用户点击输入框时显示 */
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::before,
.el-input.el-input--small.el-input-group.el-input-group--prepend:focus-within::after {
  display: block;
}

/* 主内容区 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::before {
  /* 先隐藏起来 */
  display: none;
  /* 绝对定位 */
  position: absolute;
  /* 向上移动60像素 */
  top: -60px;
  /* 文字强制不换行，防止left:50%导致的文字换行 */
  white-space: nowrap;
  /* 圆角 */
  border-radius: 10px;
  /* 距离左边50% */
  left: 50%;
  /* 然后再向左边挪动自身的一半，即可实现居中 */
  transform: translate(-50%);
  /* 填充 */
  padding: 14px 18px;
  background: #444;
  color: #fff;
}

/* 小角标 */
.el-input.el-input--small.el-input-group.el-input-group--prepend::after {
  display: none;
  content: '';
  position: absolute;
  /* 内容大小（宽高）为0且边框大小不为0的情况下，每一条边（4个边）都是一个三角形，组成一个正方形。
  我们先将所有边框透明，再给其中的一条边添加颜色就可以实现小三角图标 */
  border: 12px solid transparent;
  border-top-color: #444;
  left: 50%;
  transform: translate(-50%, -48px);
}


